# vscode
.vscode/

# wily
.wily/

# idea
.idea/

#__pycache__
__pycache__/
*/__pycache__/

# large data sets
third_party/data/indicators.csv

# pytest
.pytest_cache/
*/.pytest_cache/

# ebook
build.sh
*.aux
*.dvi
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
