[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
folium = "*"
pandas = "*"
imageio = "*"
numpy = "*"
scipy = "*"
matplotlib = "*"
animatplot = "*"

[dev-packages]

[requires]
python_version = "3.7"
